<% if user_signed_in? %>
  <div class="form-group">
    <%= form_with(model: [photo, comment], url: photo_comments_path(photo), method: :POST, remote: true) do |f| %>
      <%= f.text_area :comment, class: 'form-control mb-2' %>
      <%= f.submit 'コメントを送信', class:'btn btn-outline-dark form-control', data: { disable_with: '投稿中...' } %>
    <% end %>
  </div>
<% end %>