<div class="follower-wrapper">
  <div id="stats">
    <%= render 'relationships/stats', user: user %>
  </div>
  <div id="follow-btn">
    <%= render 'relationships/follow_form', user: user %>
  </div>
</div>