<div class="main-container">
  <h2 class="menu-title mt-5">Photographer's</h2>
  <h2 class="subtitle">Photographer's Profile</h2>
  <%= render 'photographers/list', photographers: @photographers %>
</div>

