<div class="search-container">
  <h2 class="menu-title">SEARCHES</h2>

  <% if @photographers.present? %>
    <% @photographers.each do |photographer| %>
      <%= image_tag photographer.user.profile_image.url %>
      <%= photographer.name %>
    <% end %>
  <% else %>
    <p>条件に言い値するものが見つかりませんでした</p>
  <% end %>

  <% if @photos.present? %>
    <% @photos.each do |photo| %>
    <%= image_tag photo.photo_image.url %>
    <% end %>
  <% end %>
</div>