<div class="photos-container">
  <h2 class="menu-title">GALLERY</h2>
  <h2 class="subtitle">Photo Gallery</h2>
  <div class="photos-wrapper">
    <% @photos.each do |photo| %>
        <%= link_to photo_path(photo.id), class: "photo-item" do %>
          <div class="square"><%= image_tag photo.photo_image.url %></div>
        <% end %>
    <% end %>
  </div>
</div>
