/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 @font-face {
  font-family: 'AntroVectra';
  src: font-url('Antro_Vectra.otf');
 }
 @font-face {
  font-family: 'Futura';
  src: font-url('futura');
 }
 @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

html {
  font-size: 100%;
}

body p {
  color: #2b2a27;
}

ul {
  list-style: none;
  padding: 0;
}

a {
 color: #2b2a27;
}

h2 {
 color: #2b2a27;
}

.menu-title {
  position: relative;
  display: inline-block;
  padding: 0 60px;
  font-size: 25px;
  font-family: 'Futura';
}

.menu-title:before {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: black;
}

.menu-title:before {
  left: 0;
}

.users-container {
   margin: 50px 10% 50px 10%;
}
.users-wrapper {
 margin: 0 auto;
 width: 400px;
}

.field {
 margin-bottom: 20px;
}
.users-wrapper .field:first-of-type  {
 padding-top: 40px;
}

