/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 @font-face {
  font-family: 'AntroVectra';
  src: font-url('Antro_Vectra.otf');
 }
 @font-face {
  font-family: 'Futura';
  src: font-url('Futura.ttf');
 }

.futura {
  font-family: 'Futura';
 }

 @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.maru-font {
  font-family: 'Kosugi Maru', sans-serif;
}


html {
  font-size: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
 color: #2b2a27;
 text-decoration:none;
}

// ヘッダーのスタイル
header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 0 10px;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.1);
}

.header-icon {
  display: flex;
  justify-content: space-between;
}
.header-icon img {
  width: 50px;
  margin-top: 10px;
}
.header-icon img:hover {
  width: 51px;
  margin-top: 9px;
}
.header-logo {
  font-family: 'Futura';
  font-size: 30px;
  line-height: center;
  margin-top: 13px;

}
.header-logo:hover {
  text-decoration: none;
  color: black;
}

// メインコンテンツのコンテナ
.main-container {
  margin: 100px 10% 100px 10%;
  width: 80%;
}

// メニュータイトル用の記述
.menu-title {
  position: relative;
  display: inline-block;
  padding: 0 60px;
  font-size: 25px;
  font-family: 'Futura';
}

.menu-title:before {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: black;
  left: 0;
}

// サブタイトル用の記述
.subtitle {
  font-family: 'AntroVectra';
  margin: 50px 0;
  font-size: 60px;
  color: #2b2a27;
}

.users-container {
   margin: 130px 10% 50px 10%;
}
.users-wrapper {
 margin: 0 auto;
 width: 400px;
}

.field {
 margin-bottom: 20px;
}
.users-wrapper .field:first-of-type  {
 padding-top: 50px;
}

// レスポンシブな正円画像を生成
.round-circle { position: relative; }
.round-circle::before {
  display: block;
  content: "";
  padding-top: 100%;
}
.round-circle > img {
  object-fit: cover;
  border-radius: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
}

// レスポンシブな正方形を生成
.square { position: relative; }
.square::before {
  display: block;
  content: "";
  padding-top: 100%;
}
.square > img {
  object-fit: cover;
  border: solid 1px gray;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

// ===photographer一覧用===
.photographer-container {
  margin: 0 10%;
}

.photographer-info {
  deisplay: flex;
  flex-wrap: wrap;
  width: 23%;
  margin: 1%;
  border: solid 1px gray;
}
.photographer-info h5 {
  text-align: center;
  margin: 10px 0;
  text-decoration: none;
}
.photographer-image {
  width: 100%;
}

// ジャンル用一覧用
.genres {
  display: flex;
  justify-content: center;
}

// topのリンクボタン用
.btn-wrapper {
  display: flex;
  margin-top: 30px;
}
.btn-wrapper a {
  width: 48%;
  margin: 0 1% 0 1%;
}
.btn-block {
  margin-top: 0;
}

// === 写真一覧用(Gallery) ===
.photos-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.photo-item {
    width: 23%;
    margin: 1%;
}

// コンテンツ間の余白
.contents-margin {
  height: 40px;
}

// ヘッダーナビゲーションのスタイル

#nav {
  position: fixed;
  right: 0;
  top: 70px;
  width: 400px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  transition: transform 0.6s;
  z-index: 9;
}
.show {
  transform: translate3d(400px, 0, 0);
}

.nav-list {
  text-align: center;
}

.nav-item {
  font-family: 'Futura';
  position: relative;
  display: inline-block;
  padding: 0 30px;
  font-size: 25px;
  margin: 30px 0;
  transition: font-size 0.4s;
}
.nav-item:before {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: black;
  left: 0;
}
.nav-item:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: black;
  margin-left: 8px;
}
.nav-item a {
 color: #2b2a27;
 text-decoration: none;
}
.nav-item:hover {
  font-size: 1.7em;
  color: gray;
}

.flex {
  display: flex;
}

// フラッシュメッセージ
.flash-message {
  position: fixed;
  top: 70px;
  width: 100%;
  height: auto;
  color: #fff;
  z-index: 8;
}
.flash-message p {
  margin: 0 10% 0 10%;
  text-align: center;
}
.notice {
  background-color: #008000;
  opacity: 0.8;
  z-index: 7;
  height: auto;
}
.alert {
  background-color: #B1063A;
  opacity: 0.8;
  z-index: 7;
  height: auto;
}

@media screen and (max-width: 900px) {
  .main-container {
    margin: 50px 5% 50px 5%;
    width: 90%;
  }
  .subtitle {
    font-size: 40px;
  }
  .photo-item {
    width: 46%;
    margin: 2%;
  }
  .contents-margin {
    height: 30px;
  }
  .photographer-info {
    deisplay: flex;
    flex-wrap: wrap;
    width: 46%;
    margin: 2%;
    border: solid 1px gray;
  }
  .btn-wrapper {
    display: block;
  }
  .btn-wrapper a {
    width: 96%;
    margin: 0 2% 10px 2%;
    padding: 10px auto;
  }
  .users-container {
   margin: 130px 5% 50px 5%;
  }
  .users-wrapper {
    width: 100%;
  }

  .field {
   margin-bottom: 20px;
  }
  .users-wrapper .field:first-of-type  {
   padding-top: 50px;
  }
  .flash-message p {
    margin: 0;
    text-align: center;
  }
}