@charset "utf-8"

#mainvisual {
  height: 100vh;
  background-image: image-url('top_image2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.top-container {
  margin: 100px auto 0 auto;
  max-width: 1100px;
  width: 95%;
}

// メインビジュアル下のメニュースタイル
.top-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 100px;
}
.top-list-item {
  text-align: center;
  width: 25%;
  opacity: 0.7;
}
.top-list-item:hover {
  text-align: center;
  width: 25%;
  opacity: 1;
}

.top-list-item img {
  position: relative;
  left: 0;
}

.top-list-item-contents {
  text-align: center;
  position: relative;
  top: -205px;
}

// フォトギャラリー
.top-gallery {
  padding-bottom: 50px;
}
.top-gallery-title {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  opacity: 0.6;
  font-size: 30px;
}
.top-gallery-title::before,
.top-gallery-title::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #fff;
}
.top-gallery-title::before {
  margin-right: 20px;
  padding-left: 15px;
}
.top-gallery-title::after {
  margin-left: 20px;
  padding-right: 15px;
}
.top-gallery-slid {
  width: 100%;
  min-width: 300px;
  min-height: 200px;
  height: auto;
  margin-bottom: 20px;
}

.top-gallery-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.top-gallery-list-item {
  width: 25%;
  border: 2px solid #333;
}

.view-more {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}
.view-more:hover {
  font-size: 20px;
  color: #fff;
  opacity: 1;
}

// フォトグラファー一覧
.top-photographers {
  padding-bottom: 100px;
}
.top-phtographers-slid {
  margin-bottom: 30px;
}
.top-photographers-slid-item {
  padding: 10px;
}

@media screen and (max-width: 900px) {
  #mainvisual {
    height: 70vh;
  }
  .top-container {
    margin-top: 40px;
  }
  .top-list {
    margin-bottom: 40px;
  }
}