.photos-container {
  margin: 130px 15% 50px 15%;
  max-width: 1200px;
}
.contents-wrapper {
  position: static;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.photographer-wrapper {
  margin-bottom: 10px;
  display: flex;
}
.photographer-icon {
  width: 20%;
  min-width: 50px;
}
.photographer-information {
  width: 75%;
  margin : auto 0 auto 5%;
  text-align: center;
  align-content: space-around;
}
.photographer-wrapper h4 {
  font-size: 30px;
}

.photo-contents {
  width: 60%;
  padding: 0 3%;
  z-index: 1;
}
.photo-flame {
  width: 100%;
  margin-bottom: 40px;
}
.photo-story {
  overflow-wrap:  break-word;
  margin-bottom: 30px;
}
.photo-detail {
  overflow-wrap:  break-word;
}

// ソーシャル用のスタイル
.photo-social {
  width: 100%;
  list-style: none;
  text-decoration: none;
}