.photos-container {
  margin: 130px 10% 50px 10%;
}
.contents-wrapper {
  position: static;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.photographer-wrapper {
  width: 25%;
  height: 80vh;
  padding: 3%;
  position: fixed;
  box-shadow: 1px 1px 10px gray;
}
.user-image {
  width: 70%;
  margin: 0 auto;
}
.photographer-wrapper h3 {
  margin: 20px auto;
  font-size: 30px;
  text-align: center;
}

.photo-contents {
  width: 60%;
  padding: 0 3%;
  margin-left: 40%;
  z-index: 1;
}
.photo-flame {
  width: 100%;
  margin-bottom: 40px;
}
.photo-story {
  overflow-wrap:  break-word;
  margin-bottom: 30px;
}
.photo-detail {
  overflow-wrap:  break-word;
}

// ソーシャル用のスタイル
.photo-social {
  width: 100%;
  list-style: none;
  text-decoration: none;
}