.photos-container {
  margin: 50px 10%;
}
.contents-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.photo-contents {
  width: 60%;
}
.user-information {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.user-image {
  width: 20%;
  margin-right: 5%;
}
.user-information h3 {
  width: 75%;
  font-size: 50px;
}

.photo-flame {
  width: 100%;
  margin-bottom: 40px;
}
.photo-story {
  overflow-wrap:  break-word;
  margin-bottom: 30px;
}
.photo-detail {
  overflow-wrap:  break-word;
}